 label{width: 120px;
       display: inline-block;
       float:left;
       font-weight: bold;
       font-size: 16px;
      }

h1 {font-style:oblique;
    text-align: left;
	font-family: Comic Sans MS;
	color:red;
	}
	
h3 {font-family: Comic Sans MS;
	color:red;}	
	
		
body {background-color: black;            
	}

.allForm {margin: auto;
          width: 40%;
          border: 3px solid red;
          padding: 10px;
          background-image: url(../Images/feedback3.jpg);
          background-size: cover;
          }	
		  
.button {background-color:red;
		text-align: center;
		display: inline-block;
		font-size: 25px;
		margin: 4px 2px;
		cursor: pointer;
		color: white;
		} 
	